<a href="https://colab.research.google.com/github/rmlsoarepe/curso_ptyhon_do_zero/blob/master/exercicio_01_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
import pandas as pd

# Loading Files

In [ ]:
df = pd.read_csv ('/content/sample_data/kc_house_data.csv')

# Anserwering Questions

## 1. Quantas casas estão disponíveis para compra?
 R: 21.613 casas

In [ ]:
df.shape[0]

21613

## 2. Quantos atributos as casas possuem?
 R:16 atributos

In [ ]:
df.shape[1]

21

## 3. Quais são os atributos das casas?
 R: bedrooms, bathrooms, sqft_living, sqft_lot, floors,waterfront, view, condition ,grade, sqft_above,sqft_basement, yr_built, yr_renovated, zipcode, sqft_living15, sqft_lot15

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4. Qual a casa mais cara (casa com o maior valor de venda)
R: Casa com o ID:6762700020

---

In [ ]:
df.sort_values ('price',ascending=False)

               id             date  ...  sqft_living15  sqft_lot15
7252   6762700020  20141013T000000  ...           3940        8800
3914   9808700762  20140611T000000  ...           3930       25449
9254   9208900037  20140919T000000  ...           4540       42730
4411   2470100110  20140804T000000  ...           3560       24345
1448   8907500070  20150413T000000  ...           4600       21750
...           ...              ...  ...            ...         ...
8274   3883800011  20141105T000000  ...           1140       11250
16198  3028200080  20150324T000000  ...            860        9000
465    8658300340  20140523T000000  ...           1200        7500
15293    40000362  20140506T000000  ...           1700       10387
1149   3421079032  20150217T000000  ...           1160       42882

[21613 rows x 21 columns]

## 5. Qual a casa com o maior número de quartos?
R: Casa ID 2402100895

In [ ]:
df.sort_values('bedrooms', ascending=False)

               id             date  ...  sqft_living15  sqft_lot15
15870  2402100895  20140625T000000  ...           1330        4700
8757   1773100755  20140821T000000  ...           1420        4960
15161  5566100170  20141029T000000  ...           2040       11914
13314   627300145  20140814T000000  ...           2730       10400
19254  8812401450  20141229T000000  ...           1810        3745
...           ...              ...  ...            ...         ...
19452  3980300371  20140926T000000  ...           1620       22850
8484   2310060040  20140925T000000  ...           1810        5685
875    6306400140  20140612T000000  ...           2360        4000
8477   2569500210  20141117T000000  ...           2500        8751
9773   3374500520  20150429T000000  ...           2520        8050

[21613 rows x 21 columns]

## 6. Qual a soma total de quartos do conjunto de dados?
R:72.854 bedrooms

In [ ]:
df[['bedrooms']].sum()

bedrooms    72854
dtype: int64

## 7. Quantas casas possuem 2 banheiros?
R:1930 casas

In [ ]:
two_bath_house = df.loc[df['bathrooms'] == 2]
two_bath_house.shape

(1930, 21)

## 8. Qual o  preço médio de todas as casas no conjunto dado?
R:A média do preço das casas é $540.088,14.

In [ ]:
df[['price']].mean()

price    540088.141767
dtype: float64

## 9. Qual o preço médio de casas com 2 banheiros?
R: A média do preço das casas com dois banheiros é  $ 457.889.71.

In [ ]:
two_bath_house[['price']].mean()

price    457889.718653
dtype: float64

## 10. Qual o preço mínimo entre as casas com 3 quartos?
R:Das casas com 3 quartos, a mais barata custa $82.000.

In [ ]:
tree_bedr_house = df.loc[df['bedrooms'] == 3]
tree_bedr_house['price'].min()

82000.0

## 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
R:2141 casas

In [ ]:
df['m2_living'] = df['sqft_living'] * 0.092
df[df['m2_living'] > 300]

               id             date  ...  sqft_lot15  m2_living
5      7237550310  20140512T000000  ...      101930     498.64
10     1736800520  20150403T000000  ...        8925     327.52
41     7766200013  20140811T000000  ...       30617     388.24
42     7203220400  20140707T000000  ...        5639     330.74
70     1525059190  20140912T000000  ...       38917     438.84
...           ...              ...  ...         ...        ...
21596  7502800100  20140813T000000  ...        9421     331.20
21597   191100405  20150421T000000  ...       10125     313.72
21599  7202300110  20140915T000000  ...        6814     367.08
21600   249000205  20141015T000000  ...        8964     411.24
21606  7936000429  20150326T000000  ...        6200     322.92

[2141 rows x 22 columns]

## 12. Quantas casas tem mais de 2 andares
R: 782 casas

In [ ]:
df.loc[df['floors'] > 2].shape[0]

782

## 13. Quantas casas tem vista para o mar?
R:163 casas tem vista para o mar

In [ ]:
waterfront_houses = df[df['waterfront'] == 1]

## 14. Das casas com vista pro mar, quantas tem 3 quartos?
R: 64 casas

In [ ]:
waterfront_houses.loc[waterfront_houses['bedrooms'] == 3]
waterfront_houses.shape[0]

163

## 15. Das casas com mais de 300 metros quadrados de sala de estar quantas tem mais de 2 banheiros?
R: 2088 casas

In [ ]:
 # Chamando um pedaço da tabela
 df_bath_m2_living = df[['bathrooms', 'sqft_living']]
 # Convertendo pra metro quadrado
df_bath_m2_living['sqft_living'] = df_bath_m2_living['sqft_living'].apply(lambda x: x * 0.092)
# Identificando casas com mais de 300m2
df_bath_m2_living_more_300 = df_bath_m2_living.loc[df_bath_m2_living['sqft_living'] > 300]
#Identificando casas com mais de 300m2 e mais de 2 banheiros
df_bath_m2_living_more_300.loc[df_bath_m2_living_more_300['bathrooms']>2].shape[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

2088